#main {
  grid-area: main;
  background-color: var(--cta);
  text-align: center;
  display: grid;
  grid-template:
    '.' auto
    'Jeff' 32px
    'Wendy' 32px
    '.' auto /
    150px;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#Jeff {
  grid-area: Jeff;
}

#Wendy {
  grid-area: Wendy;
}
